.tour-list .tour-list--select {
    display: flex;
    margin-left: auto;
}
.tour-list .list .item-title {
    text-transform: capitalize;
    margin-bottom: 3rem;
}

.tour-list .list img {
    width: 100%;
    height: auto;
}

.tour-list .list .link-primary {
    cursor: pointer;
}

.tour-list .list .table td {
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
}
.tour-list .list .table td:first-child {
    font-weight: bold;
}
.tour-list .list .table td:nth-child(2) {
    word-break: break-word;
}

@media (max-width: 768px) {
    .tour-list .list img {
        max-height: 80px;
    }
}

